<?xml version="1.0"?>
<model>
  <name>ROS 2 Depth Camera</name>
  <version>1.0</version>
  <sdf version="1.6">ros2_depth_camera.sdf</sdf>
  <author>
    <name>UAV Research Team</name>
    <email>research@example.com</email>
  </author>
  <description>
    A depth camera equipped with the libgazebo_ros_camera plugin 
    to directly publish pointclouds and depth images to ROS 2.
  </description>
</model>
